<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="login" (click)="userService.logout()" class="navbar-brand">
                Campaign Management System</a></div>

        <ul class="navbar-nav">
            <li>
                <a *ngIf="userService.isUserLoggedIn() && userService.isAdmin()" routerLink="admin/createNewSurvey" class=" nav-link ">Create
                    Survey</a></li>
            <li>
                <a *ngIf=" userService.isUserLoggedIn()&& userService.isAdmin()" routerLink="admin/surveyRepo" class=" nav-link ">Survey Repo</a></li>

            <li>
                <a *ngIf="userService.isUserLoggedIn() && userService.isAdmin() " routerLink="admin/surveyAnalysis" class=" nav-link ">Analyze
                </a></li>

            <li>
                <a *ngIf="userService.isUserLoggedIn() && userService.isAdmin() " routerLink="admin/addAdmin" class=" nav-link ">Add Admin
                </a></li>
        </ul>

        <ul class=" navbar-nav navbar-collapse justify-content-end ">
            <li><a *ngIf=" !userService.isUserLoggedIn() " routerLink=" /login " class=" nav-link ">Login</a></li>
            <li><a *ngIf=" userService.isUserLoggedIn() " routerLink=" /logout " class=" nav-link ">Logout</a></li>

        </ul>
    </nav>
</header>